@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Source Sans';
  src: url('/assets/fonts/Source_Sans_3/static/SourceSans3-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans';
  src: url('/assets/fonts/Source_Sans_3/static/SourceSans3-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans';
  src: url('/assets/fonts/Source_Sans_3/static/SourceSans3-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat/static/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat/static/Montserrat-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground text-base leading-normal font-normal;
    font-family: 'Source Sans', system-ui, sans-serif;
  }

  p b {
    @apply font-medium text-foreground;
  }

  h1 {
    @apply text-2xl leading-tight font-bold;
    font-family: 'Montserrat', system-ui, sans-serif;
  }

  h2 {
    @apply text-xl leading-tight font-medium;
    font-family: 'Montserrat', system-ui, sans-serif;
  }

  h3 {
    @apply text-lg leading-tight font-bold;
    font-family: 'Montserrat', system-ui, sans-serif;
  }

  h4 {
    @apply text-base leading-tight font-medium;
  }

  .text-link {
    @apply inline-flex items-center justify-center font-medium text-accent underline-offset-4 hover:underline;
  }
}
